# Global owner
*	@lmbhushanpuri @lmmahi8may @lmshubhashri @lmkedarjoshi @anupamdalmia10

# argus directory owners
charts/argus/   @anupamdalmia10 @lmshubhashri @lmmahi8may @lmbhushanpuri @lm-moulika-kulkarni @lmkedarjoshi 

# collectorSet-controller directory owners
charts/collectorset-controller/   @anupamdalmia10 @lmshubhashri @lmmahi8may @lmbhushanpuri @lm-moulika-kulkarni @lmkedarjoshi

# lm-container directory owners
charts/lm-container/    @anupamdalmia10 @lmshubhashri @lmmahi8may @lmbhushanpuri @lm-moulika-kulkarni @lmkedarjoshi

# lmutil directory owners
charts/lmutil/    @lmvaibhavk  @rohitphataklm @lmshubhashri @sagar-mamdapure @lm-moulika-kulkarni @lmkedarjoshi @lmmahi8may

# lmotel directory owners
charts/lmotel/ @lmvaibhavk @khyatigandhi0612 @choudharypooja @lmshubhashri 

# lm-logs directory owners
charts/lm-logs  @lmvaibhavk @choudharypooja @lmshubhashri @lm-aditya-kadam

# lm-otel-container directory owners
charts/lm-otel-container  @lmkedarjoshi @lmmahi8may @lmbhushanpuri @lm-moulika-kulkarni @anupamdalmia10 @lmshubhashri