# Global owner
*	@vkumbhar94 @lmbhushanpuri

# argus directory owners
charts/argus/   @vkumbhar94 @rohitphataklm @lmshubhashri @sagarmamdapure @lmbhushanpuri @guru13-lm

# collectorSet-controller directory owners
charts/collectorset-controller/   @vkumbhar94  @rohitphataklm @lmshubhashri @sagarmamdapure @lmbhushanpuri @guru13-lm

# lm-container directory owners
charts/lm-container/    @vkumbhar94 @rohitphataklm @lmshubhashri @sagarmamdapure @lmbhushanpuri @guru13-lm

# lmutil directory owners
charts/lmutil/    @vkumbhar94 @rohitphataklm @lmshubhashri @sagarmamdapure @lmbhushanpuri @guru13-lm

# lmotel directory owners
charts/lmotel/ @avadhut123pisal @khyatigandhi6

# lm-logs directory owners
charts/lm-logs  @siddharthck @guru13-lm
