# ServiceAccount for main controller, only if serviceAccount.name and global.serviceAccountName is not set
{{- if and (empty .Values.serviceAccount.name) (empty .Values.global.serviceAccountName) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "collectorset-controller.serviceAccountName" . }}
  namespace: {{ template "lmutil.release.namespace" . }}
  labels:
    {{- include "collectorset-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "collectorset-controller.annotations" . | nindent 4 }}
imagePullSecrets:
  {{- include "lmutil.imagePullSecrets" . | nindent 2 }}
{{- end }}

---

# ServiceAccount for collector, only if both collectorServiceAccountName and global.serviceAccountName are not set
{{- if and (empty .Values.serviceAccount.collectorServiceAccountName) (empty .Values.global.serviceAccountName) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "collectorset-controller.serviceAccountName" . }}-collector
  namespace: {{ template "lmutil.release.namespace" . }}
  labels:
    {{- include "collectorset-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "collectorset-controller.annotations" . | nindent 4 }}
imagePullSecrets:
  {{- include "lmutil.imagePullSecrets" . | nindent 2 }}
{{- end }}
