{{- if and .Values.serviceAccount.create (ne (include "lmutil.serviceAccountName" .) "default") -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "lmutil.serviceAccountName" . }}
  namespace: {{ template "lmutil.release.namespace" . }}
  labels:
    {{- include "collectorset-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "collectorset-controller.annotations" . | nindent 4 }}
imagePullSecrets:
  {{- include "lmutil.imagePullSecrets" . | nindent 2 }}
{{- end }}

---

# ServiceAccount for collector, only if both serviceAccount.collector.name and global.serviceAccount.name are not set
{{ if and .Values.serviceAccount.collector.create (ne (include "lmutil.serviceAccountName" .) "default") -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "collectorset-controller.collectorServiceAccountName" . }}
  namespace: {{ template "lmutil.release.namespace" . }}
  labels:
    {{- include "collectorset-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "collectorset-controller.annotations" . | nindent 4 }}
imagePullSecrets:
  {{- include "lmutil.imagePullSecrets" . | nindent 2 }}
{{- end }}