{{- $globalSAConfigured := and .Values.global .Values.global.serviceAccount .Values.global.serviceAccount.name -}}
{{- if and (eq (include "lmutil.shouldCreateServiceAccount" .) "true") (ne (include "lmutil.serviceAccountName" .) "default") -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "lmutil.serviceAccountName" . }}
  namespace: {{ template "lmutil.release.namespace" . }}
  labels:
    {{- include "collectorset-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "collectorset-controller.annotations" . | nindent 4 }}
imagePullSecrets:
  {{- include "lmutil.imagePullSecrets" . | nindent 2 }}
{{- end }}
{{- if and .Values.serviceAccount.collector.create (ne (include "lmutil.serviceAccountName" .) "default") (not $globalSAConfigured) }}
---
# ServiceAccount for collector
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "collectorset-controller.collectorServiceAccountName" . }}
  namespace: {{ template "lmutil.release.namespace" . }}
  labels:
    {{- include "collectorset-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "collectorset-controller.annotations" . | nindent 4 }}
imagePullSecrets:
  {{- include "lmutil.imagePullSecrets" . | nindent 2 }}
{{- end }}