# ServiceAccount for main controller, only if serviceAccount.name and global.serviceAccount.name is not set
{{- if and (empty .Values.serviceAccount.name) (empty .Values.global.serviceAccount.name) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "lmutil.serviceAccountName" . }}
  namespace: {{ template "lmutil.release.namespace" . }}
  labels:
    {{- include "collectorset-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "collectorset-controller.annotations" . | nindent 4 }}
imagePullSecrets:
  {{- include "lmutil.imagePullSecrets" . | nindent 2 }}
{{- end }}

---

# ServiceAccount for collector, only if both serviceAccount.collector.name and global.serviceAccount.name are not set
{{- if and (empty .Values.serviceAccount.collector.name) (empty .Values.global.serviceAccount.name) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "lmutil.serviceAccountName" . }}-collector
  namespace: {{ template "lmutil.release.namespace" . }}
  labels:
    {{- include "collectorset-controller.labels" . | nindent 4 }}
  annotations:
    {{- include "collectorset-controller.annotations" . | nindent 4 }}
imagePullSecrets:
  {{- include "lmutil.imagePullSecrets" . | nindent 2 }}
{{- end }}
